/.direnv/

# Nix build
/result
/source

# Rightly ignored in general, but here we want to put things in it.
# TODO: Or do we? Should we be using ~/bin instead of ~/.local/bin for portable
#       scripts?
!.local/
